<!-- <h1>{{msg}}</h1>
<h2>My Angular Project</h2>
<h3>My Title is {{ title }}</h3>
<button type="button" (click)="myFunc()">My Button</button> -->

<!-- <span>มา 4 จ่าย 3!</span>
<div>
  <input #priceInput type="text" placeholder="ราคาบุพเฟต์">
  <button type="button" (click)="calPrice(priceInput.value)">คำนวน</button>
</div>
<span>คนละ {{price}} บาท</span>

<app-my-component (numberChange)="testNumberChange($event)" [step]="5" ></app-my-component>
<app-my-component (numberChange)="testNumberChange($event)" [step]="10"></app-my-component>

<button type="button" (click)="testClick()">Test Click!</button> -->

<!-- <app-max-min-meter
  minLabel="น้อยที่สุด"
  [maxLabel]="myappMaxLabel"
  (minChange)="doAppMinChange($event)"
  (maxChange)="doAppMaxChange($event)"
></app-max-min-meter>

<h4>My Spiner</h4>
<app-my-component [minRange]="min" [maxRange]="max"></app-my-component> -->

<app-sqaure-flex
  [divHeight]="sqaureHeight"
  [divWidth]="sqaureWidth"
></app-sqaure-flex>
<div style="margin-top: 1rem;transition: all 0.5s;">
  <button type="button" (click)="increaseWidth()">Increase Width</button>
  <button type="button" (click)="increaseHeight()" style="margin-left: 10px">
    Increase Height
  </button>

  <button type="button" (click)="decreaseWidth()" style="margin-left: 10px">
    Decrease Width
  </button>
  <button type="button" (click)="decreaseHeight()" style="margin-left: 10px">
    Decrease Height
  </button>
</div>
